################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/PROE_wypozyczalnia_nart_1/v15/Browse.VC.opendb
